<form method="POST" class="mt-4">
  <div class="form-group">
    <label for="exampleInputEmail1">Search</label>
    <input
      type="text"
      class="form-control"
      id="search-input"
      placeholder="Search..."
      name="q"
    />
    <input
      type="text"
      class="form-control"
      id="search-input"
      placeholder="Name..."
      name="name"
    />
  </div>

  <button type="submit" class="btn btn-primary">Search</button>
</form>